:root {
    --font-family: Spectral;
    --main-bg-color: #e4d6a7;
    --title-primary-color: #9b2915;
    --title-secondary-color: #bf4040;
    --desc-color: #c4c4c5;
    --blog-header-bg: #d4c07e;
    --article-title-color: #9b2915;
    --articleShowCaseContainer-bg-color: #e9b44c;
    --articleShowCaseContainer-hover-color: #cb9c3e;
    --article-in-title-color: #9b2915;
    --article-in-content-color:#000000;
  }